In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

***Data Description***

<u>Format:</u> CSV (each row represents an individual student)

<u>Features:</u>

ID: Unique identifier for each student

Demographics: Age, Gender, City

Academic Indicators: CGPA, Academic Pressure, Study Satisfaction

Lifestyle & Wellbeing: Sleep Duration, Dietary Habits, Work Pressure, Job Satisfaction, Work/Study Hours

Additional Factors: Profession, Degree, Financial Stress, Family History of Mental Illness, and whether the student has ever had suicidal thoughts

Target Variable:
Depression_Status: A binary indicator (0/1 or Yes/No) that denotes whether a student is experiencing depression

In [3]:
df = pd.read_csv("student_depression_dataset.csv")
df.head(20)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
5,33,Male,29.0,Pune,Student,2.0,0.0,5.70,3.0,0.0,'Less than 5 hours',Healthy,PhD,No,4.0,1.0,No,0
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,'7-8 hours',Healthy,BSc,No,1.0,2.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,0.0,1.0,Yes,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,'7-8 hours',Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,'Less than 5 hours',Moderate,LLB,Yes,2.0,5.0,No,1
10,83,Male,24.0,Nagpur,Student,3.0,0.0,6.10,3.0,0.0,'5-6 hours',Moderate,'Class 12',Yes,11.0,1.0,Yes,1
11,91,Male,33.0,Vadodara,Student,3.0,0.0,7.03,4.0,0.0,'Less than 5 hours',Healthy,BE,Yes,10.0,2.0,Yes,0
12,94,Male,27.0,Kalyan,Student,5.0,0.0,7.04,1.0,0.0,'Less than 5 hours',Moderate,M.Tech,No,10.0,1.0,Yes,1
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,6.0,2.0,Yes,0
14,103,Female,19.0,Kalyan,Student,5.0,0.0,5.64,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,4.0,5.0,Yes,1
15,106,Male,29.0,Srinagar,Student,3.0,0.0,8.58,3.0,0.0,'More than 8 hours',Moderate,M.Tech,Yes,10.0,2.0,Yes,1
16,120,Male,25.0,Nashik,Student,5.0,0.0,6.51,2.0,0.0,'Less than 5 hours',Unhealthy,M.Ed,Yes,2.0,5.0,Yes,1
17,132,Female,20.0,Ahmedabad,Student,5.0,0.0,7.25,3.0,0.0,'5-6 hours',Healthy,'Class 12',Yes,10.0,3.0,No,1
18,139,Male,19.0,Chennai,Student,2.0,0.0,7.83,2.0,0.0,'7-8 hours',Unhealthy,'Class 12',No,6.0,3.0,No,0
19,145,Male,25.0,Kalyan,Student,3.0,0.0,9.93,3.0,0.0,'5-6 hours',Moderate,B.Ed,No,8.0,3.0,Yes,1

In [4]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [5]:
print(df.dtypes)

id                                         int64
Gender                                    object
Age                                      float64
City                                      object
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                         float64
Financial Stress                          object
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [6]:
for col in df.select_dtypes(include='object').columns:
    print(f"Unique values in '{col}':")
    print(df[col].unique())
    print("-" * 40)

Unique values in 'Gender':
['Male' 'Female']
----------------------------------------
Unique values in 'City':
['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' 'Saanvi' 'M.Tech' 'Bhavna' "'Less Delhi'" 'City'
 '3.0' "'Less than 5 Kalyan'" 'Mira' 'Harsha' 'Vaanya' 'Gaurav' 'Harsh'
 'Reyansh' 'Kibara' 'Rashi' 'ME' 'M.Com' 'Nalyan' 'Mihir' 'Nalini'
 'Nandini' 'Khaziabad']
----------------------------------------
Unique values in 'Profession':
['Student' "'Civil Engineer'" 'Architect' "'UX/UI Designer'"
 "'Digital Marketer'" "'Content Writer'" "'Educational Consultant'"
 'Teacher' 'Manager' 'Chef' 'Doctor' 'Lawyer' 'Entrepreneur' 'Pharmacist']
----------------------------------------
Unique values in 'Sleep Duration':
["'5-6 hours'" "'Less than 5 hours'" "'7-8 hours'" "'More than 8 hours'"
 'Others']
----------------------------------------
Unique values in 'Dietary Habits':
['Healthy' 'Moderate' 'Unhealthy' 'Others']
----------------------------------------
Unique values in 'Degree':
['B.Pharm' 'BSc' 'BA' 'BCA' 'M.Tech' 'PhD' "'Class 12'" 'B.Ed' 'LLB' 'BE'
 'M.Ed' 'MSc' 'BHM' 'M.Pharm' 'MCA' 'MA' 'B.Com' 'MD' 'MBA' 'MBBS' 'M.Com'
 'B.Arch' 'LLM' 'B.Tech' 'BBA' 'ME' 'MHM' 'Others']
----------------------------------------
Unique values in 'Have you ever had suicidal thoughts ?':
['Yes' 'No']
----------------------------------------
Unique values in 'Financial Stress':
['1.0' '2.0' '5.0' '3.0' '4.0' '?']
----------------------------------------
Unique values in 'Family History of Mental Illness':
['No' 'Yes']
----------------------------------------

- City has invalid values ['M.Tech', "'Less Delhi'", 'City', '3.0', "'Less than 5 Kalyan'", 'ME', 'M.Com']

- Sleep_duration has invalid value(s) ['Others']

- Dietary Habits has invalid value(s) ['Others']

- Degree has invalid value(s) ['Others']

- Financial Stress has invalid value(s) ['?'], Financial stress also needs to be integer column instead of Object type.

In [7]:
invalid_cities_list = ['M.Tech', "'Less Delhi'", 'City', '3.0', "'Less than 5 Kalyan'", 'ME', 'M.Com']

# Find rows with invalid cities
invalid_entries = df[df['City'].isin(invalid_cities_list)]

# Count them
print(f"Number of invalid city entries: {len(invalid_entries)}")

# See which ones and how often
print(invalid_entries['City'].value_counts())

Number of invalid city entries: 8
City
City                    2
M.Tech                  1
'Less Delhi'            1
3.0                     1
'Less than 5 Kalyan'    1
ME                      1
M.Com                   1
Name: count, dtype: int64

In [8]:
city_counts = df['City'].value_counts()

# Print all cities and their counts
print(city_counts)

City
Kalyan                  1570
Srinagar                1372
Hyderabad               1340
Vasai-Virar             1290
Lucknow                 1155
Thane                   1139
Ludhiana                1111
Agra                    1094
Surat                   1078
Kolkata                 1066
Jaipur                  1036
Patna                   1007
Visakhapatnam            969
Pune                     968
Ahmedabad                951
Bhopal                   934
Chennai                  885
Meerut                   825
Rajkot                   816
Delhi                    768
Bangalore                767
Ghaziabad                745
Mumbai                   699
Vadodara                 694
Varanasi                 685
Nagpur                   651
Indore                   643
Kanpur                   609
Nashik                   547
Faridabad                461
Saanvi                     2
Bhavna                     2
City                       2
Harsha                     2
Kibara                     1
Nandini                    1
Nalini                     1
Mihir                      1
Nalyan                     1
M.Com                      1
ME                         1
Rashi                      1
Gaurav                     1
Reyansh                    1
Harsh                      1
Vaanya                     1
Mira                       1
'Less than 5 Kalyan'       1
3.0                        1
'Less Delhi'               1
M.Tech                     1
Khaziabad                  1
Name: count, dtype: int64

In [9]:
profession_counts = df['Profession'].value_counts()
print(profession_counts)
print(len(profession_counts))

Profession
Student                     27870
Architect                       8
Teacher                         6
'Digital Marketer'              3
'Content Writer'                2
Chef                            2
Doctor                          2
Pharmacist                      2
'Civil Engineer'                1
'UX/UI Designer'                1
'Educational Consultant'        1
Manager                         1
Lawyer                          1
Entrepreneur                    1
Name: count, dtype: int64
14

In [10]:
invalid_sleep_list = ['Others']

# Find rows with invalid cities
invalid_entries = df[df['Sleep Duration'].isin(invalid_sleep_list)]

# Count them
print(f"Number of invalid sleep duration entries: {len(invalid_entries)}")

# See which ones and how often
print(invalid_entries['Sleep Duration'].value_counts())

Number of invalid sleep duration entries: 18
Sleep Duration
Others    18
Name: count, dtype: int64

In [11]:
invalid_diet_list = ['Others']

# Find rows with invalid cities
invalid_entries = df[df['Dietary Habits'].isin(invalid_diet_list)]

# Count them
print(f"Number of invalid diet entries: {len(invalid_entries)}")

# See which ones and how often
print(invalid_entries['Dietary Habits'].value_counts())

Number of invalid diet entries: 12
Dietary Habits
Others    12
Name: count, dtype: int64

In [12]:


invalid_financial_list = ['?']

# Find rows with invalid cities
invalid_entries = df[df['Financial Stress'].isin(invalid_financial_list)]

# Count them
print(f"Number of invalid financial entries: {len(invalid_entries)}")

# See which ones and how often
print(invalid_entries['Financial Stress'].value_counts())

Number of invalid financial entries: 3
Financial Stress
?    3
Name: count, dtype: int64

In [13]:
invalid_entries = df[df['Sleep Duration'].isin(invalid_sleep_list)]
invalid_entries

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1963,10030,Female,30.0,Ludhiana,Student,3.0,0.0,5.42,2.0,0.0,Others,Unhealthy,B.Ed,Yes,1.0,2.0,No,0
3807,19051,Female,18.0,Agra,Student,3.0,0.0,6.03,4.0,0.0,Others,Unhealthy,BA,Yes,12.0,5.0,No,1
3984,19915,Female,27.0,Ludhiana,Student,4.0,0.0,5.08,5.0,0.0,Others,Healthy,M.Tech,Yes,8.0,5.0,Yes,1
4535,22742,Female,22.0,Srinagar,Student,4.0,0.0,6.92,3.0,0.0,Others,Moderate,MCA,Yes,3.0,3.0,Yes,1
5526,27865,Female,31.0,Delhi,Student,2.0,0.0,7.27,5.0,0.0,Others,Healthy,B.Arch,No,3.0,1.0,No,0
5786,29050,Male,23.0,Mumbai,Student,5.0,0.0,8.52,4.0,0.0,Others,Moderate,BE,Yes,12.0,4.0,Yes,1
6740,33836,Male,20.0,Vasai-Virar,Student,3.0,0.0,6.37,2.0,0.0,Others,Unhealthy,BSc,No,10.0,1.0,No,0
7696,38701,Male,31.0,Kalyan,Student,3.0,0.0,8.21,4.0,0.0,Others,Moderate,BA,No,2.0,3.0,No,0
7875,39566,Female,28.0,Visakhapatnam,Student,4.0,0.0,6.38,5.0,0.0,Others,Moderate,M.Ed,No,8.0,3.0,No,0
12933,65456,Male,28.0,Nagpur,Student,2.0,0.0,7.85,4.0,0.0,Others,Unhealthy,BA,Yes,10.0,4.0,No,1
14382,72700,Female,33.0,Ahmedabad,Student,4.0,0.0,7.87,4.0,0.0,Others,Moderate,PhD,No,10.0,2.0,Yes,0
14988,75587,Male,26.0,Srinagar,Student,2.0,0.0,7.11,4.0,0.0,Others,Unhealthy,PhD,Yes,9.0,2.0,No,0
15103,76120,Male,25.0,Kanpur,Student,3.0,0.0,9.84,1.0,0.0,Others,Unhealthy,BE,Yes,4.0,1.0,Yes,1
15958,80672,Male,23.0,Nagpur,Student,2.0,0.0,9.60,1.0,0.0,Others,Unhealthy,B.Arch,Yes,1.0,1.0,Yes,0
18224,92288,Female,31.0,Faridabad,Student,2.0,0.0,9.24,1.0,0.0,Others,Moderate,MBA,Yes,12.0,5.0,No,1
20315,102871,Male,32.0,Hyderabad,Student,4.0,0.0,9.39,2.0,0.0,Others,Healthy,M.Tech,No,4.0,3.0,Yes,1
22903,115481,Male,34.0,Meerut,Student,3.0,0.0,5.66,4.0,0.0,Others,Moderate,MSc,No,12.0,1.0,No,0
25204,126972,Female,30.0,Delhi,Student,4.0,0.0,9.96,1.0,0.0,Others,Unhealthy,B.Com,Yes,1.0,2.0,Yes,1

## Generating a cleaner csv file
### Replacing invalid entrees in above mentioned columns with the most appeared values (mode)

Dealing with City column.

In [14]:
invalid_cities_cleaned = [city.strip("'") for city in invalid_cities_list]

# Temporarily replace "Less Delhi" (cleaned) with a placeholder
df['City'] = df['City'].replace("'Less Delhi'", 'DELHI_TEMP')
df['City'] = df['City'].replace("'Less Delhi'", 'KAL_TEMP')

# Replace all other invalids with the mode of valid cities
mode_city = df[~df['City'].isin(invalid_cities_cleaned)]['City'].mode().iloc[0]
df['City'] = df['City'].apply(lambda x: mode_city if x in invalid_cities_cleaned else x)

# Replace the placeholder with 'Delhi'
df['City'] = df['City'].replace('DELHI_TEMP', 'Delhi')
df['City'] = df['City'].replace('KAL_TEMP', 'Kalyan')

In [15]:
print("Unique values after cleanup:", df['City'].unique())

Unique values after cleanup: ['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' 'Saanvi' 'Bhavna' 'Mira' 'Harsha' 'Vaanya' 'Gaurav'
 'Harsh' 'Reyansh' 'Kibara' 'Rashi' 'Nalyan' 'Mihir' 'Nalini' 'Nandini'
 'Khaziabad']

Dealing with Sleep Duration column.

In [16]:
## Replacing value 'Other' with mode value

mode_sleep = df[df['Sleep Duration'] != 'Others']['Sleep Duration'].mode().iloc[0]
# Replace 'Other' with the mode value
df['Sleep Duration'] = df['Sleep Duration'].replace('Others', mode_sleep)

In [17]:
print(df['Sleep Duration'].value_counts())

Sleep Duration
'Less than 5 hours'    8328
'7-8 hours'            7346
'5-6 hours'            6183
'More than 8 hours'    6044
Name: count, dtype: int64

Dealing with Dietary Habits column.

In [18]:
mode_sleep = df[df['Dietary Habits'] != 'Others']['Dietary Habits'].mode().iloc[0]
# Replace 'Other' with the mode value
df['Dietary Habits'] = df['Dietary Habits'].replace('Others', mode_sleep)

In [19]:
print(df['Dietary Habits'].value_counts())

Dietary Habits
Unhealthy    10329
Moderate      9921
Healthy       7651
Name: count, dtype: int64

Dealing with Degree column.

In [20]:
mode_Degree = df[df['Degree'] != 'Others']['Degree'].mode().iloc[0]
# Replace 'Other' with the mode value
df['Degree'] = df['Degree'].replace('Others', mode_Degree)

In [21]:
print(df['Degree'].value_counts())

Degree
'Class 12'    6115
B.Ed          1867
B.Com         1506
B.Arch        1478
BCA           1433
MSc           1190
B.Tech        1152
MCA           1044
M.Tech        1022
BHM            925
BSc            888
M.Ed           821
B.Pharm        810
M.Com          734
MBBS           696
BBA            696
LLB            671
BE             613
BA             600
M.Pharm        582
MD             572
MBA            562
MA             544
PhD            522
LLM            482
MHM            191
ME             185
Name: count, dtype: int64

Dealing with Financial stress
Replacing '?' with mode of the column

In [22]:
mode_Financial = df[df['Financial Stress'] != 'Others']['Financial Stress'].mode().iloc[0]
# Replace 'Other' with the mode value
df['Financial Stress'] = df['Financial Stress'].replace('?', mode_Financial)

In [23]:
print(df['Financial Stress'].value_counts())

Financial Stress
5.0    6718
4.0    5775
3.0    5226
1.0    5121
2.0    5061
Name: count, dtype: int64

In [24]:
print(df['Financial Stress'].dtype)

object

In [25]:
df['Financial Stress'] = df['Financial Stress'].astype(float).astype('int64')

In [26]:
print(df['Financial Stress'].dtype)

int64

In [27]:
df.to_csv('clean_file.csv', index=False)