#

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df = pd.read_csv("student_depression_dataset.csv")

In [8]:
random_row = df.sample(n=1)

# Print the random row
print(random_row)

           id Gender   Age       City Profession  Academic Pressure  \
21546  108815   Male  21.0  Ghaziabad    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
21546            0.0  5.74                 1.0               0.0

      Sleep Duration Dietary Habits  Degree  \
21546    '7-8 hours'       Moderate  B.Arch

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
21546                                   Yes               7.0

      Financial Stress Family History of Mental Illness  Depression
21546              5.0                              Yes           1

In [10]:
df.columns

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [12]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [20]:
df['City'].unique()

array(['Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi', 'Jaipur',
       'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik', 'Vadodara',
       'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai', 'Lucknow',
       'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut', 'Agra',
       'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
       'Faridabad', 'Delhi', 'Saanvi', 'M.Tech', 'Bhavna', "'Less Delhi'",
       'City', '3.0', "'Less than 5 Kalyan'", 'Mira', 'Harsha', 'Vaanya',
       'Gaurav', 'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com',
       'Nalyan', 'Mihir', 'Nalini', 'Nandini', 'Khaziabad'], dtype=object)

In [18]:
52-21

31

In [26]:
df['Degree'=='Others']

KeyError: False

In [30]:
len(df[df['Degree'] == 'Others'])

35

In [34]:
len(df[df['Sleep Duration'] == 'Others'])

18

In [36]:
len(df[df['Dietary Habits'] == 'Others'])

12

In [38]:
35+18+12

65

In [40]:
print(df['Degree'].mode())

0    'Class 12'
Name: Degree, dtype: object

In [46]:
print(df['Sleep Duration'].mode())

0    'Less than 5 hours'
Name: Sleep Duration, dtype: object

In [48]:
print(df['Dietary Habits'].mode())

0    Unhealthy
Name: Dietary Habits, dtype: object

In [50]:
print(df['City'].mode())

0    Kalyan
Name: City, dtype: object

In [52]:
df.shape

(27901, 18)